@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@300;400;500;600&family=Nunito:ital,wght@0,300;0,400;0,500;0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css?family=Abril+Fatface|Lato');
@import 'node_modules/modern-normalize/modern-normalize.css';

// this animation taken from https://github.com/nzbin/three-dots/tree/master/sass
@import 'variables';
@import 'mixins';
@import 'dot-flashing';

$white: #ededed;
$gray: #bfc0c0;
$dark: #585959;
$light: #6b7280;
$big: 'Abril Fatface', serif;
$body: 'Nunito', sans-serif;

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .smooth-effect {
        @apply transition-all duration-300;
    }
    .absolute-center {
        @apply flex items-center justify-center;
    }
    .absolute-left-center {
        @apply absolute left-1/2 -translate-x-1/2;
    }
    .absolute-screen-center {
        @apply absolute top-1/2  left-1/2 flex -translate-y-1/2 -translate-x-1/2;
    }
    .full-size {
        @apply h-full w-full;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    -webkit-tap-highlight-color: transparent;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}

body {
    font-size: 1.6rem;
    text-rendering: optimizeSpeed;
    overflow-x: hidden;
    background-color: '#f0edf4';
}

*:focus {
    outline: none;
}

::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-thumb {
    @apply rounded-2xl bg-gray-400;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type='number'] {
    -moz-appearance: textfield;
}

.tailwind-pulse-effect {
    animation: pulse-tw 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

.animate-duration-200 {
    --animate-duration: 0.2s;
}

/* Dialog Animated */

[data-backdrop] {
    background-color: rgb(0 0 0 / 10%);
    opacity: 0;
    transition-property: opacity;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.dialog {
    filter: drop-shadow(0 16px 24px rgba(0, 0, 0, 15%));
    transition-property: opacity, transform;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}

.dark .dialog {
    border-color: hsl(204, 3%, 32%);
    background-color: hsl(204, 3%, 20%);
    color: hsl(0, 0%, 100%);
    filter: drop-shadow(0 16px 24px rgba(0, 0, 0, 40%));
}

[data-backdrop][data-enter] {
    opacity: 1;
}

.dialog[data-enter] {
    opacity: 1;
}

@keyframes pulse-tw {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

@keyframes scale {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

@keyframes float {
    50% {
        transform: translateY(15px);
    }
}

.atropos-inner {
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
}

#not-found-page {
    .container {
        margin: 0 auto;
        position: relative;
        width: 250px;
        height: 250px;
        margin-top: 10px;
        .shadow {
            position: absolute;
            width: 30%;
            height: 7%;
            background: $gray;
            left: 35%;
            top: 80%;
            border-radius: 50%;
            animation: scale 2s infinite;
        }

        .ghost {
            width: 50%;
            height: 53%;
            left: 25%;
            top: 10%;
            position: absolute;
            border-radius: 50% 50% 0 0;
            background: $white;
            border-bottom: none;
            animation: float 2s ease-out infinite;
            .face {
                position: absolute;
                width: 100%;
                height: 60%;
                top: 20%;
            }
            .eye,
            .eye-right {
                position: absolute;
                background: $dark;
                width: 13px;
                height: 13px;
                border-radius: 50%;
                top: 40%;
            }

            .eye {
                left: 25%;
            }
            .eye-right {
                right: 25%;
            }

            .mouth {
                position: absolute;
                top: 50%;
                left: 45%;
                width: 10px;
                height: 10px;
                border: 3px solid;
                border-radius: 50%;
                border-color: transparent $dark $dark transparent;
                transform: rotate(45deg);
            }
        }
        .ghost-copy {
            width: 50%;
            height: 53%;
            left: 25%;
            top: 10%;
            position: absolute;
            border-radius: 50% 50% 0 0;
            background: $white;
            border-bottom: none;
            animation: float 2s ease-out infinite;
            z-index: 0;
            .one,
            .two,
            .three,
            .four {
                position: absolute;
                background: $white;
                top: 85%;
                width: 25%;
                height: 23%;
                z-index: 0;
            }

            .one {
                border-radius: 0 0 100% 30%;
                left: -1px;
            }

            .two {
                left: 23%;
                border-radius: 0 0 50% 50%;
            }

            .three {
                left: 50%;
                border-radius: 0 0 50% 50%;
            }

            .four {
                left: 74.5%;
                border-radius: 0 0 30% 100%;
            }
        }
    }
    .bottom {
        .buttons {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            .btn {
                background: $white;
                padding: 15px 25px;
                margin: 5px;
                color: $dark;
                font-family: $body;
                text-transform: uppercase;
                font-size: 16px;
                letter-spacing: 1px;
                border: 1px solid #9ca3af;
                border-radius: 12px;
                &:hover {
                    background: #bae6fd;
                    transition: all 0.4s ease-out;
                }
            }
        }
    }
    .h1-404 {
        font-family: $big;
        color: #9ca3af;
        font-size: 7em;
        text-shadow: -1px 0 $gray, 0 1px $gray, 1px 0 $gray, 0 -1px $gray;
    }
    .h3-404 {
        font-family: $body;
        font-size: 2em;
        text-transform: uppercase;
        text-align: center;
        color: #9ca3af;
        font-weight: 900;
    }
}

#login-page {
    .con {
        position: relative;
        width: 38%;
        height: 400px;
        background: #fff;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid #ddd;
        border-top-left-radius: 250px;
        border-bottom-right-radius: 250px;
        border-left: 2px solid #7cd3fc;
        border-right: 2px solid #fb7185;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }

    .box {
        position: absolute;
        top: 22.5px;
        left: 22.5px;
        margin-top: 0px;
        width: 90%;
        height: 350px;
        background: #fff;
        border: 1px solid transparent;
        margin-left: auto;
        margin-right: auto;
        -webkit-box-shadow: 0px 4px 62px -36px rgba (36, 36, 36, 0.85);
        -moz-box-shadow: 0px 4px 62px -36px rgba(36, 36, 36, 0.85);
        box-shadow: 0px 4px 62px -36px rgba(36, 36, 36, 0.85);
        border-bottom-left-radius: 250px;
        border-top-right-radius: 250px;
    }
}

/* ----------------------------------------------
 * Generated by Animista on 2022-9-19 23:18:12
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info.
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation tracking-in-expand
 * ----------------------------------------
 */
.tracking-in-expand {
    -webkit-animation: tracking-in-expand 0.7s
        cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand 0.7s cubic-bezier(0.215, 0.61, 0.355, 1) both;
}

@-webkit-keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
@keyframes tracking-in-expand {
    0% {
        letter-spacing: -0.5em;
        opacity: 0;
    }
    40% {
        opacity: 0.6;
    }
    100% {
        opacity: 1;
    }
}
